// The root of editor
.image-editor
  position: relative

  .outer-canvas-wrapper
    // Dimensions
    width: 100%
    height: 100%

    // Centering the canvas on the first wrapper
    display: flex
    align-items: center
    justify-content: center

    // Others...
    background-color: #424242
    overflow: hidden

    .inner-canvas-wrapper
      // Show canvas transparent background
      position: relative
      box-sizing: content-box
      background-image: url(./src/images/transparent.svg)
      background-repeat: repeat
      background-clip: content-box
      background-size: 16px
      border: 1px solid black
      flex-shrink: 0
      transition: all 115ms linear

      & > canvas
        width: 100%
        height: 100%